Config(
  width: Absolute(600),
  position: Center,
  vertical_offset: Absolute(-100),
  hide_icons: false,
  ignore_exclusive_zones: false,
  layer: Overlay,
  hide_plugin_info: true,
  close_on_click: true,
  plugins: [
    "libapplications.so",
    "libshell.so",
    "libkidex.so"
  ],
)
