theme "catppuccin-mocha"
simplified_ui true
// default_mode "locked"
pane_frames false
scroll_buffer_size 1000000
session_serialization true
// TODO: I don't know yet if I want that, and the performance impact
pane_viewport_serialization true
scrollback_lines_to_serialize 0
plugins {
    autolock location="file:~/.config/zellij/zellij-autolock.wasm" {
        is_enabled true
        // Lock when any open these programs open.
        triggers "nvim|vim|git|fzf|zoxide|atuin|tio"
        // Reaction to input occurs after this many seconds. (default=0.3)
        // (An existing scheduled reaction prevents additional reactions.)
        reaction_seconds "2"
    }
}
load_plugins {
    autolock
}
keybinds {
    normal clear-defaults=true {
        bind "Enter" {
            // Passthru `Enter`
            WriteChars "\r"
            MessagePlugin "autolock" {

            }
        }
        bind "Ctrl w" {
            SwitchToMode "Pane"
        }
        bind "Ctrl t" {
            SwitchToMode "Tab"
        }
        bind "Ctrl s" {
            LaunchOrFocusPlugin "file:~/.config/zellij/zellij-sessionizer.wasm" {
                floating true
                move_to_focused_tab true
                cwd "/"
                root_dirs "~/dev/sqn/sqn-sdk;~/dev/sqn/mfw"
            }
        }
        bind "Ctrl Shift g" {
            EditScrollback
        }
        bind "Alt i" {
            ToggleFloatingPanes
        }
        bind "Ctrl Alt d" {
            Detach
        }
        bind "Ctrl g" {
            SwitchToMode "Locked"
        }
    }
    shared {
        bind "Alt i" {
            ToggleFloatingPanes
        }
    }
    shared_except "locked" {
        bind "Ctrl w" {
            SwitchToMode "Pane"
        }
        bind "Ctrl t" {
            SwitchToMode "Tab"
        }
    }
    pane {
        bind "v" "Ctrl v" {
            NewPane "Right"
            SwitchToMode "Normal"
        }
        bind "n" "Ctrl n" {
            NewPane
            SwitchToMode "Normal"
        }
        bind "s" "Ctrl s" {
            NewPane "Down"
            SwitchToMode "Normal"
        }
        bind "h" "Ctrl h" {
            MoveFocusOrTab "Left"
            SwitchToMode "Normal"
        }
        bind "l" "Ctrl l" {
            MoveFocusOrTab "Right"
            SwitchToMode "Normal"
        }
        bind "k" "Ctrl k" {
            MoveFocus "Up"
            SwitchToMode "Normal"
        }
        bind "j" "Ctrl j" {
            MoveFocus "Down"
            SwitchToMode "Normal"
        }
        bind "Ctrl Shift h" {
            MovePane "Left"
        }
        bind "Ctrl Shift l" {
            MovePane "Right"
        }
        bind "Ctrl Shift k" {
            MovePane "Up"
        }
        bind "Ctrl Shift j" {
            MovePane "Down"
        }
    }
    tab {
        bind "Shift h" "Ctrl Shift h" {
            MoveTab "left"
        }
        bind "Shift l" "Ctrl Shift l" {
            MoveTab "right"
        }
    }
}

